body {
  font-family: "Roboto", Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
}
.container h1 {
  font-size: 25px;
  color: #53127a;
}
.container h2 {
  font-size: 20px;
  color: #53127a;
}
.card-section {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.card-section .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  color: #ffffff;
  padding: 15px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card h3 {
  font-size: 19px;
  margin-top: 0;
  margin-bottom: 10px;
  background-color: #fff;
  color: #53127a;
  align-self: flex-start;
}

select {
  width: 100%;
  padding: 8px;
  margin-top: 30px;
  border-radius: 4px;
  border: 1px solid #e4d4d4;
}

.loader {
  height: 5px;
  width: 100%;
  background-color: #5cb85c;
  animation: load 2s ease-in-out infinite;
}

.file-upload-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .file-upload-wrapper {
    flex-direction: column;
  }
}

.file-upload {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.checkbox-section {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  gap: 8px;
}
.checkbox {
  height: 20px;
  width: 18px;
}
.button-large {
  font-size: 14px;
}
.error {
  align-self: flex-start;
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
@keyframes load {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
